.Events {
  min-height: 100vh;
  height: 100%;
  background-color: #1B1725;
  padding: 1rem;

  .title, .subtitle {
    color: #FCF7F8;
  }
}

.events-page-appear {
  opacity: 0.01;
}

.events-page-appear.events-page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}