.ConcertDetails {
  min-height: 100vh;
  height: 100%;
  background-color: #1B1725;
  color: #FCF7F8;
  padding: 2rem;

  .title, .subtitle {
    color: #FCF7F8;
  }

  .ConcertDetailsBody {
    height: 85vh;
    padding: 1.5rem;
    overflow-y: auto;
    text-align: justify;

    p {
      width: 100%;
      word-wrap: break-word;
    }
  }

  .ConcertDetailsSlides {
    height: 50%;
  }

  .ConcertDetailsEvents {
    height: 50%;
    padding: 1.5rem;
    overflow-y: auto;
  }
}

.concert-details-page-appear {
  opacity: 0.01;
}

.concert-details-page-appear.concert-details-page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}