.PostTile {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;

  &:hover {
    cursor: pointer;

    & .PostTile_image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }

    & .PostTile_titleBox {
      opacity: 1.0;
      transition: opacity 2s linear;
    }
  }

  .PostTile_image {

    @media screen and (max-width: 770px){
      height: 50vh;
    }

    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .PostTile_titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
    opacity: 0.5;
    position: absolute;

    .PostTile_title {
      font-size: 32pt;
      font-weight: bold;
      text-shadow: 1px 1px 5px #1B1725;
      color: #FCF7F8;

      @media screen and (max-width: 1000px) and (min-width: 760px){
        font-size: 18pt;
      }
    }
  }
}