.Notifier {
  position: absolute;
  top: 5.5vh;
  left: 75vw;
  width: 25vw;
  z-index: 1000;
  opacity: 0.85;
}

.notifier-enter {
  opacity: 0.01;
}

.notifier-enter.notifier-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.notifier-leave {
  opacity: 1;
}

.notifier-leave.notifier-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}