@import "~bulma";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #1B1725;

  @media screen and (max-width: 770px) {
    overflow: auto;
  }
}

.title, .subtitle {
  color: #FCF7F8;
  font-weight: bold;
  text-shadow: 1px 1px 3px #1B1725;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #FCF7F8;
}

::-webkit-scrollbar-thumb {
  background-color: #403952;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1B1725;
}