.SignUpPage {
  height: 100%;
  min-height: 100vh;
  background-color: #1B1725;
  color: #FCF7F8;
  padding: 2rem;

  .is-divider-vertical {
    height: 100%;
    min-height: 80vh;
    background: none;
    color: #FCF7F8;

    &[data-content]::after {
      background: #1B1725;
      color: #FCF7F8;
    }
  }
}

.signup-page-appear {
  opacity: 0.01;
}

.signup-page-appear.signup-page-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}