.UserPage {
  margin-top: 2rem;

  .ReviewsContainer {
    margin-bottom: 1rem;
    max-height: 54vh;
    overflow-y: auto;

    .ReviewBox {
      padding: 1rem;
      border-radius: 2rem;
      background-color: #332e43;
      box-shadow: 1px 1px 3px #403952;
      color: #FCF7F8;
      text-shadow: 1px 1px 3px #403952;
      margin-bottom: 1rem;

      p {
        word-break: break-all;
        white-space: normal;
      }

      strong {
        color: #FCF7F8;
      }

      em {
        padding-right: .5rem;
      }
    }
  }

  .CommentsContainer, .TicketsContainer {
    margin-bottom: 1rem;
    max-height: 35vh;
    overflow-y: auto;

    .CommentBox, .TicketBox {
      padding: 1rem;
      border-radius: 2rem;
      background-color: #332e43;
      box-shadow: 1px 1px 3px #403952;
      color: #FCF7F8;
      text-shadow: 1px 1px 3px #403952;
      margin-bottom: 1rem;

      p {
        word-break: break-all;
        white-space: normal;
      }

      strong {
        color: #FCF7F8;
      }

      em {
        padding-right: .5rem;
      }
    }
  }
}